#button {
    width: 50%;
    margin: auto;
    display: flex;
    border: 1px solid #000;
    font-size: 17px;
}
.trai {
    height: 500px;
    flex-basis: 50%;
    margin: auto;
    background:rgb(125, 247, 44);
    display: block;
    
}
.trai p {
    float: left;
    margin-left: 20px;
    font-weight: bold;
    
}
.trai #quoctich{
    margin-left: 20px;
    margin-top: 190px;
    font-weight: bold;
}
.trai #sothich{
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
}
button{
    margin-top: 40px;
    font-weight: bold;
    margin-left: 80px;
}
.phai {
    height: 500px;
    flex-basis: 50%;
    margin: auto;
    background: rgb(3, 238, 238);
}
.hienthi{
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
}